{% extends 'base.html' %}

{% block config %}
<title>Youtube Download</title>
{% endblock %}

{% block mainBody %}
<form id="download-form" action="" method="post">

    <label for="yt_url">URL do video:</label>
    <input type="text" name="yt_url" id="yt_url" placeholder="..." autofocus/>

    <fieldset>
        <legend>Tipo de Midia</legend>

        <div>
            <input type="radio" name="rd_midia" id="rd_video" value="0">
            <label for="rd_video">Video</label>
        </div>

        <div>
            <input type="radio" name="rd_midia" id="rd_music" value="1" checked>
            <label for="rd_music">Musica</label>
        </div>
    </fieldset>

    <button id="download-btn" type="submit">
        Baixar
    </button>

    <div id="loading" class="loading">
        <div class="spinner"></div>
        <span>Processando download...</span>
    </div>

</form>
{% endblock %}
