{% extends 'base.html' %}

{% block config %}
{% endblock %}

{% block mainBody %}
    <form action="" method="post" id="respForm">

        <h2>Midia encontrada!</h2>

        <Span>
            <input type="checkbox" name="cbAlterar" id="ckbxAlterar">
            <label for="ckbxAlterar">Deseja Alterar as informações?</label>
        </Span>

        <fieldset>
            <label for="inpNomeMidia">Nome:</label>
            <input type="text" name="inpNome" id="inpNomeMidia" value="{{ resp.name }}">

            <label for="inpArtistaMidia">Artista:</label>
            <input type="text" name="inpArtista" id="inpArtistaMidia">
        </fieldset>

        <a href="{{ url_for('app_routes.pg_inicial') }}">
            Voltar
        </a>
        <button type="submit">Baixar</button>
    </form>
    <script src="{{ url_for('static', filename='pgResposta_script.js') }}" defer></script>
{% endblock %}
